/* style jumbotron */
.jumbotron{
    background-image: url(../image/satu.jpg);
    background-size: cover;
    height: 700px;
    text-align: center;
    color: white;
    margin-top: -120;
}

.jumbotron .display-4{
    margin-top: 100px;
}


/* style carousel */
.carousel-item{
    height: 650px;
}
.carousel-item img{
    margin-top: -120px;
}
.carousel-item .display-4{
    margin-top: -500px;
}


